# fly.toml app configuration file generated for realityhack-world-frontend-production on 2024-10-16T19:04:17-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'realityhack-world-frontend-production'
primary_region = 'ewr'

[build]
  dockerfile = 'Dockerfile.fly'

  [build.args]
    NEXT_PUBLIC_BACKEND_URL="https://api.realityhack.world"
    NEXT_PUBLIC_BACKEND_WS_URL="wss://api.realityhack.world"
    NEXT_PUBLIC_IS_EVENTS_ENABLED="false"
    NEXT_PUBLIC_TEAM_FORMATION_STAGE="0"
    NEXT_PUBLIC_FEATURE_FLAGS='{"home":true,"admin":true,"schedule":false,"team":true,"help":true,"hardware":true,"showcase":false,"tracks":false,"workshops":false,"resources":false,"guide":false,"settings":true, "mentors":true, "team-formation/hackers-met":false,"hardware/request":true,"lighthouses":false}'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.tls_options]
    alpn = ["h2", "http/1.1"]
    versions = ["TLSv1.2", "TLSv1.3"]

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
