# fly.toml app configuration file generated for realityhack-world-frontend on 2024-08-30T08:02:33-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'realityhack-world-frontend'
primary_region = 'ewr'

[build]
  dockerfile = 'Dockerfile.fly'

  [build.args]
    NEXT_PUBLIC_BACKEND_URL="https://dev-api.realityhack.world"
    NEXT_PUBLIC_BACKEND_WS_URL="wss://dev-api.realityhack.world"
    NEXT_PUBLIC_TEAM_FORMATION_STAGE="1"

    # default features
    NEXT_PUBLIC_IS_HOME_ENABLED="true"
    NEXT_PUBLIC_IS_ADMIN_ENABLED="true"
    NEXT_PUBLIC_IS_SETTINGS_TAB_ENABLED="true"

    # Ready features
    NEXT_PUBLIC_IS_HARDWARE_CHECKOUT_ENABLED="true"
    NEXT_PUBLIC_IS_TEAMS_ENABLED="true"
    NEXT_PUBLIC_IS_HACKER_HELP_ENABLED="true"
    NEXT_PUBLIC_IS_MENTOR_HELP_ENABLED="true"
    
    # WIP features
    NEXT_PUBLIC_IS_SCHEDULE_ENABLED="false"
    NEXT_PUBLIC_IS_SPONSOR_DASHBOARD_ENABLED="false"
    NEXT_PUBLIC_IS_SHOWCASE_ENABLED="false"
    NEXT_PUBLIC_IS_TRACKS_ENABLED="false"
    NEXT_PUBLIC_IS_WORKSHOPS_ENABLED="true"
    NEXT_PUBLIC_IS_RESOURCES_TAB_ENABLED="false"
    NEXT_PUBLIC_IS_EVENT_GUIDE_ENABLED="false"
    NEXT_PUBLIC_IS_HACKERS_MET_ENABLED="true"
    NEXT_PUBLIC_IS_LIGHTHOUSES_ENABLED="false"
    NEXT_PUBLIC_IS_EVENTS_ENABLED="true"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.tls_options]
    alpn = ["h2", "http/1.1"]
    versions = ["TLSv1.2", "TLSv1.3"]

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
