@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  position: relative;
}

div, p, input {
  font-size: 15px;
}

.filter-svg {
  display: initial; filter: invert(37%) sepia(9%) saturate(8%) hue-rotate(336deg) brightness(92%) contrast(88%);
}

.filter-svg:hover {
  filter: invert(39%) sepia(32%) saturate(6813%) hue-rotate(194deg) brightness(102%) contrast(108%);
}